defmodule Ggen.RuntimeIntegration.RuntimeConfig do
  @moduledoc false
  @digest {{ digest | json_encode }}
  @config {{ config | json_encode }}

  def admitted, do: %{digest: @digest, config: @config}
  def matches?(digest), do: digest == @digest
end
